<!DOCTYPE html>
<html>
<head>
	<title>Swain Bot</title>
	<script>
		// Script that gets all the champions and fills in the select forms
		// probably should be in another file.
	</script>
	<style>
	.red {
		background-color: tomato;
	}
	.blue {
		background-color: royalblue;
	}
	.left-half {
		width: 48%;
		float: left;
	}
	.right-half {
		width: 48%;
		float: right;
	}
	select {
		width: 100%;
		padding: 16px 20px;
		border: none;
		border-radius: 4px;
		background-color: #f1f1f1;
		text-color: #CCCCCC;
	}
</style>
<body onload="">
<form action="/predict.html" id="predict_form">
	<div class="left-half">
	<section>
		<label for="ban1">Red Ban 1</label>
		<select type="select" id="ban1" class="red" form="predict_form">
			<option>Annie<option>
			<option>Aatrox</option>
		</select>
		<label for="ban1">Red Ban 2</label>
		<select id="ban4" class="red" form="predict_form">
			<option>Annie<option>
			<option>Aatrox</option>
		</select>
		<br/><br/><br/>
	</section>
	</div>
	<div class="right-half">
	<section>	
		<label for="ban1">Blue Ban 1</label>
		<select id="ban2" class="blue" form="predict_form">
			<option>Annie<option>
			<option>Aatrox</option>
		</select>
		<label for="ban1">Blue Ban 2</label>
		<select id="ban3" class="blue" form="predict_form">
			<option>Annie<option>
			<option>Aatrox</option>
		</select>
	</section>
	<br/><br/><br/>
	</div>
	
	<input type="submit" value="TELL ME GOOD PICKS, SWAIN"/>
</form>
</body>
</html>
